<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project_DB_Tire_Service_Admin_Part.Properties.Settings.dbConnectionS"
            connectionString="User Id=pavel;Password=pavel1998;Port=3307;Host=192.168.0.88;Database=Autoservice;Persist Security Info=True; SslMode=none;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>